[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/stb"]
	path = libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "libraries/bullet3"]
	path = libraries/bullet3
	url = https://github.com/bulletphysics/bullet3.git